* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.container,
.container_bottom {
    max-width: 1200px;
    margin: 0 auto;
}

.container_main {
    max-width: 1200px;
    margin: 100px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* INLINE-BLOCK */
.display-i-b {
    display: inline-block;
}

.flex-btw-center {
    justify-content: space-between;
    align-items: center;
}

/* NAV BAR */

ul {
    list-style: none;
}

li {
    color: white;
    font-weight: bold;
    display: inline-block;
}

/* NAV BAR */

/* LOGO */

.logo>img {
    width: 150px;
}

.p-t-d-15 {
    padding: 15px 0 15px 0;
}

/* LOGO */
/* HEADER */

/* MAIN */
.col-33 {
    width: calc(100% / 3);
}

.content {
    margin: 10px;
    position: relative;
}

.content img {
    width: 100%;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

/* CARTE */
.font-col_red-bold {
    font-weight: 600;
    color: red;
}

.font-del {
    text-decoration: line-through;
}

.heart {
    width: 60px;
    background-color: white;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

.heart.h_position {
    position: absolute;
    right: 0;
    top: 10px;

}

.labels {
    position: absolute;
    left: 0;
    bottom: 100px;
    color: white;
    text-align: center;
    font-weight: 600;

}

.label-red {
    background-color: red;
    padding: 5px;

}

.label-green {
    background-color: green;
    padding: 5px;
}

.content:hover .d-block {
    display: none;
}

.content:hover .d-none {
    display: block;
}

/* BONUS */

.heart:hover {
    color: red;
}

/* MAIN */

/* FOOTER */
footer {
    background-color: black;
    color: white;
}

.col-80 {
    width: 80%;
}

.col-20 {
    width: 20%;

}


.f-s-10>li {
    font-size: 12px;
}

i {
    font-size: 25px;
    padding: 5px;
}

h5,
h4 {
    margin: 10px 0 10px 0;
}